<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@activityLog.add.headline">Add Activity Log</h1>
    <div>
        <a routerLink="/activityLogs" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@activityLog.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="entityType" rowType="select" [options]="{'LEAD': 'LEAD', 'TASK': 'TASK', 'CUSTOMER': 'CUSTOMER', 'SALESOPPORTUNITY': 'SALESOPPORTUNITY'}" i18n-label="@@activityLog.entityType.label" label="Entity Type" />
    <app-input-row [group]="addForm" field="entityId" rowType="number" i18n-label="@@activityLog.entityId.label" label="Entity Id" />
    <app-input-row [group]="addForm" field="action" rowType="radio" [options]="{'CREATED': 'CREATED', 'UPDATED': 'UPDATED', 'DELETED': 'DELETED'}" i18n-label="@@activityLog.action.label" label="Action" />
    <app-input-row [group]="addForm" field="description" i18n-label="@@activityLog.description.label" label="Description" />
    <app-input-row [group]="addForm" field="timestamp" datepicker="datetimepicker" i18n-label="@@activityLog.timestamp.label" label="Timestamp" />
    <input type="submit" i18n-value="@@activityLog.add.headline" value="Add Activity Log" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
