<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@activityLog.list.headline">Activity Logs</h1>
    <div>
        <a routerLink="/activityLogs/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@activityLog.list.createNew">Create new Activity Log</a>
    </div>
</div>
@if (!activityLogs || activityLogs.length === 0) {
<div i18n="@@activityLog.list.empty">No Activity Logs could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@activityLog.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@activityLog.entityType.label">Entity Type</th>
                <th scope="col" class="text-left p-2" i18n="@@activityLog.entityId.label">Entity Id</th>
                <th scope="col" class="text-left p-2" i18n="@@activityLog.action.label">Action</th>
                <th scope="col" class="text-left p-2" i18n="@@activityLog.description.label">Description</th>
                <th scope="col" class="text-left p-2" i18n="@@activityLog.timestamp.label">Timestamp</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (activityLog of activityLogs; track activityLog.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ activityLog.id }}</td>
                <td class="p-2">{{ activityLog.entityType }}</td>
                <td class="p-2">{{ activityLog.entityId }}</td>
                <td class="p-2">{{ activityLog.action }}</td>
                <td class="p-2">{{ activityLog.description }}</td>
                <td class="p-2">{{ activityLog.timestamp }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/activityLogs/edit', activityLog.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@activityLog.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(activityLog.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@activityLog.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
