<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@salesOpportunity.list.headline">Sales Opportunities</h1>
    <div>
        <a routerLink="/salesOpportunities/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@salesOpportunity.list.createNew">Create new Sales Opportunity</a>
    </div>
</div>
@if (!salesOpportunities || salesOpportunities.length === 0) {
<div i18n="@@salesOpportunity.list.empty">No Sales Opportunities could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@salesOpportunity.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@salesOpportunity.title.label">Title</th>
                <th scope="col" class="text-left p-2" i18n="@@salesOpportunity.description.label">Description</th>
                <th scope="col" class="text-left p-2" i18n="@@salesOpportunity.stage.label">Stage</th>
                <th scope="col" class="text-left p-2" i18n="@@salesOpportunity.value.label">Value</th>
                <th scope="col" class="text-left p-2" i18n="@@salesOpportunity.lead.label">Lead</th>
                <th scope="col" class="text-left p-2" i18n="@@salesOpportunity.assignedTo.label">Assigned To</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (salesOpportunity of salesOpportunities; track salesOpportunity.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ salesOpportunity.id }}</td>
                <td class="p-2">{{ salesOpportunity.title }}</td>
                <td class="p-2">{{ salesOpportunity.description }}</td>
                <td class="p-2">{{ salesOpportunity.stage }}</td>
                <td class="p-2">{{ salesOpportunity.value }}</td>
                <td class="p-2">{{ salesOpportunity.lead }}</td>
                <td class="p-2">{{ salesOpportunity.assignedTo }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/salesOpportunities/edit', salesOpportunity.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@salesOpportunity.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(salesOpportunity.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@salesOpportunity.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
