<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@lead.list.headline">Leads</h1>
    <div>
        <a routerLink="/leads/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@lead.list.createNew">Create new Lead</a>
    </div>
</div>
@if (!leads || leads.length === 0) {
<div i18n="@@lead.list.empty">No Leads could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@lead.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@lead.firstname.label">Firstname</th>
                <th scope="col" class="text-left p-2" i18n="@@lead.lastname.label">Lastname</th>
                <th scope="col" class="text-left p-2" i18n="@@lead.email.label">Email</th>
                <th scope="col" class="text-left p-2" i18n="@@lead.phone.label">Phone</th>
                <th scope="col" class="text-left p-2" i18n="@@lead.status.label">Status</th>
                <th scope="col" class="text-left p-2" i18n="@@lead.assignedUser.label">Assigned User</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (lead of leads; track lead.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ lead.id }}</td>
                <td class="p-2">{{ lead.firstname }}</td>
                <td class="p-2">{{ lead.lastname }}</td>
                <td class="p-2">{{ lead.email }}</td>
                <td class="p-2">{{ lead.phone }}</td>
                <td class="p-2">{{ lead.status }}</td>
                <td class="p-2">{{ lead.assignedUserName }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/leads/edit', lead.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@lead.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(lead.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@lead.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
